:root {
  --form-bg: rgba(255, 255, 255, 0.35);
  --text-color: #222;
  --input-bg: #ffffff;
  --input-text: #222;
  --button-bg: #007BFF;
  --button-gradient-end: #0056b3;
  --button-hover: #004a99;
  --footer-color: #515151;
  --label-color: #333;
}

body.dark {
  --form-bg: rgba(255, 255, 255, 0.08);
  --text-color: #ffffff;
  --input-bg: #ffffffdd;
  --input-text: #333;
  --button-bg: #007BFF;
  --button-gradient-end: #00BCD4;
  --button-hover: #0056b3;
  --footer-color: #ccc;
  --label-color: #eee;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
  background: url('../assets/airport-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.logo {
  width: 240px;
  height: auto;
  margin: -30px auto 10px;
  display: block;
}

.overlay {
  background-color: rgba(156, 156, 156, 0.231);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

body.dark .overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.login-container {
  background-color: var(--form-bg);
  padding: 40px 30px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h2 {
  margin-bottom: 30px;
  font-weight: bold;
  color: var(--text-color);
}

.form-group {
  margin-bottom: 20px;
  text-align: right;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--label-color);
}


.input-otp {
  width: 2.5rem;  
  height: 2.5rem; 
  text-align: center;
  font-size: 1.5rem;  
  border-radius: 5px; 
  border: 1px solid #ccc;
  background-color: var(--input-bg);
  color: var(--input-text);
  transition: all 0.3s ease;
}


.input-otp:focus {
  border-color: #007BFF; 
  outline: none; 
  background-color: #e9f3ff; 
}


.flex {
  display: flex;
  justify-content: center; 
  gap: 0.5rem; 
  align-items: center; 
}



#check-btn {
  background: linear-gradient(to right, var(--button-bg), var(--button-gradient-end));
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px; 
  padding: 10px 15px; 
  width: 30%; 
  border-radius: 12px; 
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
   margin-top: 15px; 
}


#check-btn:hover {
  transform: scale(1.03); 
  background-color: var(--button-hover); 
}


#resend-text {
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  display: none; 
  color: #dc3545;
}




.message {
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-size: 0.95rem;
  display: none; 
}
